Repository DeepLink-org/DIOPI, pull requests merged in 2023-10, with the labels that each got.

#487 fix camb diopiRandomInp: align with torch.Tensor.random_
  impl/camb/functions/random.cpp
  proto/include/diopi/functions.h
Labels: bug

#507 Fix generator and the multinomial op, and implement the uniform op for Ascend
  impl/ascend/common/utils.cpp
  impl/ascend/device_configs.py
  impl/ascend/functions/uniform.cpp
  impl/ascend/test/conform_test.cpp
Labels: ascend

#521 fix linear op bugs
  impl/ascend/common/utils.cpp
  impl/ascend/common/utils.hpp
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend/functions/linear.cpp
Labels: bug, ascend

#510 yb/add the installation
  .gitignore
  impl/CMakeLists.txt
  impl/supa/CMakeLists.txt
Labels: supa

#529 yb/modiy the ext funciton
  proto/include/diopi/functions_ext.h
Labels: diopi_api

#523 zzf/fix bug of topk
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend/functions/topk.cpp
Labels: bug, ascend

#502 add droplet
  .gitignore
  impl/CMakeLists.txt
  impl/droplet/CMakeLists.txt
  impl/droplet/convert_config.yaml
  impl/droplet/test/CMakeLists.txt
  impl/droplet/test/conform_test.cpp
  impl/droplet/test/export_runtime.cpp
  impl/droplet/test/include/conform_test.h
  impl/droplet/test/include/litert.hpp
  impl/droplet/test/litert.cpp
  impl/scripts/build_impl.sh
Labels: droplet

#530 Add the diopiGroupNorm op for Ascend
  diopi_test/python/conformance/conformance_test.py
  impl/ascend/ascend_tensor.cpp
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend/functions/batch_norm.cpp
  impl/ascend/functions/group_norm.cpp
Labels: ascend

#532 update error type and remove int64 to int32 in convert config
  impl/cuda/test/conform_test.cpp
  impl/droplet/convert_config.yaml
  impl/droplet/test/conform_test.cpp
  scripts/filter_ci.py
Labels: nvidia, droplet

#528 fix minimum
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend/functions/binary.cpp
Labels: bug, ascend

#508 fix nll loss bug
  adaptor/codegen/gen.py
  diopi_test/python/conformance/conformance_test.py
  diopi_test/python/conformance/diopi_configs.py
  impl/ascend/device_configs.py
  impl/camb/device_configs.py
  impl/camb/functions/loss.cpp
  impl/torch/functions.cpp
  impl/torch/helper.hpp
  proto/include/diopi/functions.h
Labels: bug, fix, camb, nvidia

#518 zzf/fix threshold
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend/functions/threshold.cpp
Labels: bug, ascend

#536 Fix the layer_norm op for Ascend
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend/functions/batch_norm.cpp
  impl/ascend/functions/group_norm.cpp
  impl/ascend/functions/layer_norm.cpp
Labels: ascend
