Repository DeepLink-org/DIOPI, pull requests merged in 2023-11, with the labels that each got.

#549 Wx/add modulated deform conv op
  impl/camb/functions_mmcv/modulated_deform_conv_mlu.cpp
Labels: camb

#575 yb/fix install error
  impl/CMakeLists.txt
Labels: fix

#577 Fix a segmentation fault for Ascend argmax with dim being nullptr
  impl/ascend/common/utils.cpp
  impl/ascend/common/utils.hpp
  impl/ascend/device_configs.py
  impl/ascend/functions/argmax.cpp
  impl/ascend/functions/batch_norm.cpp
  impl/ascend/functions/layer_norm.cpp
Labels: bug, ascend

#574 zzf/fix comformance test of add
  impl/ascend/device_configs.py
Labels: bug, ascend

#583 Wx/optimize the implementation of lightllm ops
  impl/torch/functions_lightllm.cpp
Labels: nvidia

#581 Wx/optimize bmm op on camb
  impl/camb/functions/bmm.cpp
Labels: camb

#579 Wx/optimize conv2d op on camb
  impl/camb/functions/conv_2d.cpp
Labels: camb

#589 Update atol, rtol for Ascend conv2d
  diopi_test/python/conformance/check_result.py
  impl/ascend/device_configs.py
Labels: ascend

#593 Implement diopiNormalTensor, diopiNormalScalarTensor, diopiNormalTensorScalar
  impl/ascend/device_configs.py
  impl/ascend/functions/binary.cpp
  impl/ascend/functions/normal.cpp
Labels: ascend

#578 Wx/optimize ops on cuda by reducing memory copied
  impl/torch/functions.cpp
Labels: nvidia

#580 Fuj/diopi test
  diopi_test/diopi_stub/codegen/gen.py
  diopi_test/python/cache/.gitkeep
  diopi_test/python/codegen/case_template.py
  diopi_test/python/codegen/gen_case.py
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/gen_data.py
  diopi_test/python/gencases/.gitkeep
  diopi_test/python/main.py
Labels: diopi_test

#597 Fix the input type requirement of uint64 in Ascend uniform, normal
  impl/ascend/common/acloprunner.hpp
  impl/ascend/common/utils.cpp
  impl/ascend/functions/normal.cpp
  impl/ascend/functions/uniform.cpp
Labels: bug, ascend

#607 fix conform_test bytes0
  impl/droplet/test/conform_test.cpp
Labels: droplet

#614 zzf/fix bug when grad input of linear backward is nullptr
  impl/ascend/functions/linear.cpp
Labels: bug, ascend

#611 [diopi] fix manul test case generation bug
  diopi_test/python/codegen/case_template.py
Labels: fix, diopi_test

#610 Fix the segmentation fault for Ascend all, any with dim being None
  adaptor/csrc/convert.cpp
  diopi_test/python/configs/diopi_configs.py
  impl/ascend/functions/reduce.cpp
  impl/camb/device_configs.py
  impl/camb/diopi_helper.cpp
  impl/topsrider/device_configs.py
Labels: fix, camb, ascend

#642 zzf/fix bug of conv2d
  impl/ascend/device_configs.py
  impl/ascend/functions/conv2d.cpp
Labels: fix, ascend

#641 zzf/common layout config for ascend
  impl/ascend/convert_config.yaml
Labels: ascend

#647 Wx/generate data without triton
  diopi_test/python/conformance/gen_output.py
  diopi_test/python/conformance/triton_kernels.py
Labels: diopi_test

#632 zsk/ add asin
  impl/camb/device_configs.py
  impl/camb/functions/asin.cpp
Labels: camb

#645 zq/add ascend slice
  impl/ascend/device_configs.py
  impl/ascend/functions/slice.cpp
Labels: ascend

#653 Fix max, min on Ascend
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
Labels: fix, ascend

#656 fix ascend_npu/test/CMakeLists.txt to support diopi_test
  impl/ascend_npu/test/CMakeLists.txt
Labels: ascend, diopi_test
