Repository DeepLink-org/DIOPI, pull requests merged in 2023-12, with the labels that each got.

#659 yb/lint
  .clang-format
  .github/workflows/cpp-linter.yml
  impl/ascend_npu/.clang-format-ignore
  impl/ascend_npu/diopi_impl/batch_norm.cpp
  impl/ascend_npu/diopi_impl/binary.cpp
  impl/ascend_npu/diopi_impl/conv2d.cpp
  impl/ascend_npu/diopi_impl/error.hpp
  impl/ascend_npu/diopi_impl/helper.hpp
  impl/ascend_npu/diopi_impl/max_pool2d.cpp
  impl/ascend_npu/diopi_impl/unary.cpp
  impl/ascend_npu/test/ascend_helper.hpp
  impl/ascend_npu/test/conform_test.cpp
  impl/ascend_npu/torch_npu/csrc/AclOpCompileInterface.cpp
  impl/ascend_npu/torch_npu/csrc/AdvancedIndex.cpp
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
  impl/ascend_npu/torch_npu/csrc/NPUNativeFunctions.cpp
  impl/ascend_npu/torch_npu/csrc/NpuVariables.cpp
  impl/ascend_npu/torch_npu/csrc/aten/CustomFunctions.h
  impl/ascend_npu/torch_npu/csrc/aten/NPUNativeFunctions.h
  impl/ascend_npu/torch_npu/csrc/core/npu/NPUErrorCodes.h
  impl/ascend_npu/torch_npu/csrc/core/npu/NPUMacros.h
  impl/ascend_npu/torch_npu/csrc/core/npu/NPUStream.h
  impl/ascend_npu/torch_npu/csrc/core/npu/NpuVariables.h
  impl/ascend_npu/torch_npu/csrc/framework/DIOPIAdapter.h
  impl/ascend_npu/torch_npu/csrc/framework/FormatHelper.h
  impl/ascend_npu/torch_npu/csrc/framework/OpCommand.h
  impl/ascend_npu/torch_npu/csrc/framework/interface/AclOpCompileInterface.h
  impl/ascend_npu/torch_npu/csrc/framework/interface/EnvVariables.h
  impl/ascend_npu/torch_npu/csrc/framework/utils/NPUDefinition.h
  impl/ascend_npu/torch_npu/csrc/framework/utils/OpPreparation.h
  impl/ascend_npu/torch_npu/csrc/framework/utils/RandomOpAdapter.h
  impl/ascend_npu/torch_npu/csrc/framework/utils/UtilForOpAdapter.h
  impl/scripts/ci_script.sh
Labels: ascend

#662 yb/fix op-plugin download
  impl/ascend_npu/CMakeLists.txt
  impl/ascend_npu/test/CMakeLists.txt
  impl/ascend_npu/torch_npu/csrc/framework/DIOPIAdapter.h
  impl/scripts/build_impl.sh
Labels: ascend

#644 set ACL_RT_OVERFLOW_MODE to INFNAN for Ascend
  impl/ascend/common/debug.cpp
  impl/ascend/device_configs.py
  impl/ascend/functions/batch_norm.cpp
  impl/ascend/test/conform_test.cpp
  impl/ascend_npu/test/conform_test.cpp
Labels: fix, ascend

#670 fuj/ fix adiopi api collection in ascend-npu namespace
  adaptor/codegen/gen.py
Labels: ascend

#689 zzf/fix bug of exp
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
Labels: bug, ascend

#688 zzf/fix bug of nonzero
  impl/ascend/device_configs.py
  impl/ascend/functions/nonzero.cpp
Labels: bug, ascend

#686 zq/fix_ascend_uniform
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
Labels: ascend

#685 zsk/update gen_case
  diopi_test/python/codegen/gen_case.py
  diopi_test/python/main.py
Labels: diopi_test

#671 Fix the rsqrt op for Ascend
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
Labels: fix, ascend

#691 zzf/fix bug of bitwise or
  impl/ascend/device_configs.py
  impl/ascend/functions/bitwise.cpp
Labels: bug, ascend

#696 fix dropout for Ascend
  impl/ascend/common/debug.cpp
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend/functions/dropout.cpp
Labels: fix, ascend

#698 Zq/add ascend npu addmm
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend/functions/addmm.cpp
  impl/ascend_npu/CMakeLists.txt
  impl/ascend_npu/ascend_config.yaml
Labels: ascend

#701 zsk/extract gencase from main.py
  diopi_test/python/conformance/gen_case.py
  diopi_test/python/main.py
Labels: diopi_test

#699 zzf/fix bug of bitwise not & bitwise and
  impl/ascend/device_configs.py
  impl/ascend/functions/bitwise.cpp
Labels: bug, ascend

#717 Add a droplet config file for conformance tests
  impl/droplet/device_configs.py
Labels: droplet

#713 zzf/add linspace op
  impl/ascend/device_configs.py
  impl/ascend/functions/linspace.cpp
  impl/ascend_npu/CMakeLists.txt
  impl/ascend_npu/ascend_config.yaml
Labels: ascend

#612 SUPA: fix virtual memory error and skip unsupported test case
  impl/supa/README.md
  impl/supa/device_configs.py
  impl/supa/test/CMakeLists.txt
  impl/supa/test/conform_test.cpp
Labels: supa

#715 zzf/add expand op
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend/functions/expand.cpp
  impl/ascend_npu/CMakeLists.txt
  impl/ascend_npu/ascend_config.yaml
Labels: ascend

#723 Add ascend scatter
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend/functions/scatter.cpp
  impl/ascend_npu/CMakeLists.txt
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
Labels: ascend

#720 zq/add ascend split
  impl/ascend/common/acloprunner.hpp
  impl/ascend/device_configs.py
  impl/ascend/functions/split.cpp
  impl/ascend_npu/CMakeLists.txt
  impl/ascend_npu/ascend_config.yaml
  proto/include/diopi/functions.h
Labels: ascend

#734 Add float16 support for dropout on Ascend
  diopi_test/python/configs/diopi_configs.py
  impl/ascend/functions/dropout.cpp
  impl/topsrider/device_configs.py
Labels: ascend

#736 wq/impl prod operator
  impl/ascend/device_configs.py
  impl/ascend/functions/reduce.cpp
  impl/ascend_npu/ascend_config.yaml
Labels: ascend

#739 Zq/add ascend apply penalty
  impl/ascend/functions/apply_penalty.cpp
  impl/ascend_npu/CMakeLists.txt
  impl/ascend_npu/ascend_config.yaml
Labels: ascend

#704 [camb]tyf/enhance copy
  .github/workflows/main.yml
  impl/camb/common/contiguous.cpp
  impl/camb/functions/copy.cpp
Labels: camb

#726 zsk/update tol
  diopi_test/python/codegen/gen_case.py
  diopi_test/python/conformance/check_result.py
  diopi_test/python/conformance/collect_case.py
  diopi_test/python/conformance/config_parser.py
  diopi_test/python/conformance/global_settings.py
  diopi_test/python/conformance/utils.py
Labels: diopi_test

#708 [klx] add kunlunxin support
  impl/CMakeLists.txt
  impl/kunlunxin/CMakeLists.txt
  impl/kunlunxin/cmake/FindXdnnTorch.cmake
  impl/kunlunxin/common/common.hpp
  impl/kunlunxin/convert_config.yaml
  impl/kunlunxin/error.hpp
  impl/kunlunxin/functions/basic_op.cpp
  impl/kunlunxin/functions/error.cpp
  impl/kunlunxin/test/CMakeLists.txt
  impl/kunlunxin/test/conform_test.cpp
  impl/scripts/build_impl.sh
Labels: klx

#773 Update rotary embedding implementation on Ascend to align with op-plugin
  impl/ascend_npu/diopi_impl/functions_ext/rotary_embedding.cpp
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
Labels: ascend

#758 [ascend]yb/support fp16
  impl/ascend/common/float16.hpp
  impl/ascend/common/utils.cpp
  impl/ascend/common/utils.hpp
  impl/ascend_npu/CMakeLists.txt
Labels: ascend

#735 [ascend]zcx/support format cast on ascend
  diopi_test/diopi_stub/csrc/litert.cpp
  diopi_test/diopi_stub/include/litert.hpp
  impl/ascend/CMakeLists.txt
  impl/ascend/ascend_tensor.cpp
  impl/ascend/ascend_tensor.hpp
  impl/ascend/common/acloprunner.hpp
  impl/ascend/common/format_helper.cpp
  impl/ascend/common/format_helper.h
  impl/ascend/functions/format_cast.cpp
  impl/ascend_npu/CMakeLists.txt
  proto/include/diopi/diopirt.h
  proto/include/diopi/functions.h
Labels: ascend

#741 compare input data
  diopi_test/python/codegen/case_template.py
  diopi_test/python/codegen/gen_case.py
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/check_result.py
  diopi_test/python/conformance/gen_case.py
  diopi_test/python/conformance/global_op_list.py
  diopi_test/python/main.py
  diopi_test/python/tests/diopi_test/test_check_result.py
Labels: diopi_test

#727 copy other no_contiguous
  diopi_test/python/configs/diopi_configs.py
  impl/ascend/device_configs.py
  impl/camb/device_configs.py
  impl/topsrider/device_configs.py
Labels: diopi_test

#780 wq/impl col2im operator
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/col2im.cpp
Labels: ascend

#787 zcx/fix format and use ascend npu
  impl/ascend/common/format_helper.cpp
  impl/ascend/functions/format_cast.cpp
  impl/ascend_npu/CMakeLists.txt
  impl/ascend_npu/ascend_config.yaml
Labels: ascend

#764 Wx/add ops for lightllm on ascend
  impl/ascend/device_configs.py
  impl/ascend/functions/apply_penalty.cpp
  impl/ascend/functions/index_select.cpp
  impl/ascend_npu/CMakeLists.txt
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/functions_ext/apply_penalty.cpp
  impl/ascend_npu/diopi_impl/functions_ext/context_attention_inference.cpp
  impl/ascend_npu/diopi_impl/functions_ext/destindex_copy_kv.cpp
  impl/ascend_npu/diopi_impl/functions_ext/token_attention_inference.cpp
  impl/ascend_npu/diopi_impl/functions_ext/token_softmax_reducev.cpp
  impl/ascend_npu/diopi_impl/index.cpp
  impl/ascend_npu/diopi_impl/index_put.cpp
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
  impl/ascend_npu/torch_npu/csrc/NPUNativeFunctions.cpp
  impl/ascend_npu/torch_npu/csrc/aten/NPUNativeFunctions.h
Labels: ascend

#765 tyf/change pooling and relu
  impl/camb/convert_config.yaml
  impl/camb/functions/max_pool2d.cpp
Labels: camb
