Repository DeepLink-org/DIOPI, pull requests merged in 2024-01, with the labels that each got.

#803 [camb]tyf/change add
  .github/workflows/main.yml
  impl/camb/convert_config.yaml
  impl/camb/functions/add.cpp
Labels: camb

#823 [Camb] Wx/fix sort op on camb
  impl/camb/device_configs.py
  impl/camb/functions/sort.cpp
Labels: camb

#821 zq/fix prod
  impl/ascend/device_configs.py
  impl/ascend/functions/reduce.cpp
Labels: ascend

#811 zq/fix ascend normal
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
Labels: ascend

#814 Fix the use of the stable argument for the sort op on Ascend
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/diopi_functions.py
  impl/ascend/functions/sort.cpp
  impl/camb/functions/sort.cpp
  impl/topsrider/device_configs.py
  impl/topsrider/functions/functions.cpp
  impl/topsrider/ops.h
  proto/include/diopi/functions.h
Labels: ascend

#825 zq/remove device_config for topk
  impl/ascend/device_configs.py
Labels: ascend

#812 wq/impl atan operator
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/atan.cpp
  impl/ascend_npu/diopi_impl/helper.hpp
Labels: ascend

#832 zq/fix ascend index_select
  impl/ascend/device_configs.py
  impl/ascend/functions/index_select.cpp
Labels: ascend

#809 zq/add label for llm in device_configs
  impl/ascend/device_configs.py
Labels: ascend

#833 zq/remove device config of ascend norm
  impl/ascend/device_configs.py
Labels: ascend

#818 [optim][nv] speed up `buildATen` ~67%
  impl/torch/helper.cpp
  impl/torch/helper.hpp
Labels: nvidia

#838 [Ascend] Wx/ fix the bug of lightllm op on ascend
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
  impl/ascend_npu/torch_npu/csrc/NPUNativeFunctions.cpp
  impl/ascend_npu/torch_npu/csrc/aten/CustomFunctions.h
  impl/ascend_npu/torch_npu/csrc/framework/DIOPIAdapter.h
Labels: ascend

#840 Wx/fix the function description of group norm op
  proto/include/diopi/functions.h
Labels: documentation

#822 [Camb] Wx/optimize logic scalar op on camb
  impl/camb/common/dtype_cast.cpp
  impl/camb/functions/logic.cpp
Labels: camb

#816 [ascend]zcx/support format cast
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/format_cast.cpp
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
  impl/ascend_npu/torch_npu/csrc/aten/NPUNativeFunctions.h
  impl/ascend_npu/torch_npu/csrc/framework/DIOPIAdapter.h
  proto/include/diopi/functions.h
Labels: ascend

#835 zq/fix device_config for ascend nll_loss
  impl/ascend/device_configs.py
Labels: ascend

#847 zq/fix device_config for fill_
  impl/ascend/device_configs.py
Labels: ascend

#849 [Camb] Wx/fix the bug of make tensor from scalar on camb
  impl/camb/common/scalar.cpp
  impl/camb/diopi_helper.cpp
  impl/camb/diopi_helper.hpp
Labels: camb

#848 zq/fix device_config for triu
  impl/ascend/device_configs.py
Labels: ascend

#851 fix split
  impl/ascend/ascend_tensor.hpp
  impl/ascend/device_configs.py
  impl/ascend/functions/split.cpp
Labels: bug, ascend

#855 zq/update device_configs.py
  impl/ascend/device_configs.py
Labels: ascend

#831 [ascend]zq/fix device_config for ascend pow
  diopi_test/python/configs/diopi_configs.py
  impl/ascend/device_configs.py
Labels: ascend

#863 zq/fix repeat device config
  impl/ascend/device_configs.py
Labels: ascend, diopi_test

#859 yb/add python library, fix init, and reconstruct cmakelist
  impl/ascend/error.hpp
  impl/ascend/init.cpp
  impl/ascend_npu/CMakeLists.txt
Labels: ascend

#854 [Ascend] Wx/fix the device config for index_put op an ascend
  impl/ascend/device_configs.py
Labels: ascend

#852 zsk/fix adapative_pool_2d
  impl/ascend/device_configs.py
  impl/ascend/functions/pool.cpp
Labels: ascend

#860 tyf/support nondense
  adaptor/codegen/gen.py
  adaptor/csrc/convert.cpp
  adaptor/csrc/convert.hpp
  impl/camb/common/common.hpp
  impl/camb/common/contiguous.cpp
  impl/camb/common/denseCheck.cpp
  impl/camb/convert_config.yaml
  impl/camb/functions/div.cpp
Labels: feature, camb

#876 tyf/change permute
  adaptor/codegen/gen.py
  adaptor/csrc/convert.cpp
  adaptor/csrc/convert.hpp
  impl/camb/common/clone.cpp
  impl/camb/common/common.hpp
  impl/camb/common/contiguous.cpp
  impl/camb/common/denseCheck.cpp
  impl/camb/convert_config.yaml
  impl/camb/functions/copy.cpp
Labels: feature, camb

#877 tyf/fixing BMM bug
  impl/camb/convert_config.yaml
Labels: fix, camb

#871 Integrate the aclnn framework
  impl/CMakeLists.txt
  impl/ascend/CMakeLists.txt
  impl/ascend/aclnn/aclnn.cpp
  impl/ascend/aclnn/aclnn.hpp
  impl/ascend/functions/binary.cpp
  impl/ascend/functions/cos.cpp
  impl/ascend/functions/sin.cpp
  impl/ascend_npu/CMakeLists.txt
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
Labels: feature, ascend

#721 ext test case
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/diopi_functions.py
  diopi_test/python/conformance/diopi_manual_test.py
  diopi_test/python/conformance/gen_output.py
  impl/ascend/device_configs.py
  scripts/ci/diopi_config_A100.py
Labels: diopi_test

#891 tyf/change base op
  adaptor/csrc/convert.cpp
  adaptor/csrc/convert.hpp
  impl/camb/common/basic_op.cpp
  impl/camb/common/broadcast.cpp
  impl/camb/common/common.hpp
  impl/camb/common/denseCheck.cpp
  impl/camb/convert_config.yaml
  impl/camb/device_configs.py
  impl/camb/functions/add.cpp
  impl/camb/functions/div.cpp
Labels: feature, camb
