Repository DeepLink-org/DIOPI, pull requests merged in 2024-04, with the labels that each got.

#1139 tyf/add RMS
  impl/camb/device_configs.py
  impl/camb/functions/baddbmm.cpp
  impl/camb/functions/topk.cpp
  impl/camb/functions_ext/rmsNorm.cpp
Labels: feature, camb

#1140 Add diopiFlashAttentionV3 op
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/diopi_functions.py
  diopi_test/python/conformance/gen_output.py
  proto/include/diopi/functions_ext.h
Labels: diopi_api, diopi_test

#1142 Wx/fix test for rms norm
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/customized_test.py
  diopi_test/python/conformance/diopi_functions.py
  impl/ascend/device_configs.py
  impl/ascend_npu/diopi_impl/functions_ext/rms_norm.cpp
  impl/camb/device_configs.py
  impl/torch/functions/functions_ext.cpp
  proto/include/diopi/functions_ext.h
Labels: diopi_test

#1058 fix: remove a leading space when checking compute capability
  impl/torch/functions/functions_ext/flash-attention/CMakeLists.txt
Labels: fix

#1149 tyf/fix rms and FA_V3
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/diopi_functions.py
  impl/ascend/device_configs.py
  impl/camb/device_configs.py
  impl/camb/diopi_helper.cpp
  impl/camb/diopi_helper.hpp
  impl/camb/functions_ext/flashAttention.cpp
  impl/camb/functions_ext/rmsNorm.cpp
Labels: fix, camb

#1103 [Ascend] Wx/impl flash attention varlen op on ascend
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/customized_test.py
  diopi_test/python/conformance/diopi_functions.py
  impl/ascend/device_configs.py
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/functions_ext/flash_attention_varlen.cpp
  proto/include/diopi/functions_ext.h
Labels: ascend

#1156 [Ascend] Wx/fix rope and repeat
  impl/ascend/device_configs.py
  impl/ascend_npu/diopi_impl/functions_ext/rotary_embedding.cpp
  impl/ascend_npu/diopi_impl/repeat.cpp
Labels: ascend
