Repository DeepLink-org/DIOPI, pull requests merged in 2024-03, with the labels that each got.

#995 sigmoid use aclnn
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/activation.cpp
Labels: ascend

#1017 zq/reimpl index
  impl/ascend_npu/diopi_impl/index.cpp
Labels: ascend

#1034 [Ascend] Wx/reimpl some ops
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/flip.cpp
  impl/ascend_npu/diopi_impl/floor.cpp
  impl/ascend_npu/diopi_impl/linspace.cpp
  impl/ascend_npu/diopi_impl/sgn.cpp
  impl/ascend_npu/diopi_impl/unary.cpp
Labels: ascend

#1033 [Ascend] Wx/reimpl sort and topk op
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/sort.cpp
  impl/ascend_npu/diopi_impl/topk.cpp
Labels: ascend

#1028 [Ascend] Wx/reimpl atan op using aclnn
  impl/ascend/convert_config.yaml
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/atan.cpp
Labels: ascend

#1047 build(cpplint): Remove cpplint
  .github/workflows/_runs-on-nv-step1.yml
  diopi_test/scripts/ci_script.sh
  diopi_test/scripts/cpplint.py
  impl/scripts/ci_script.sh
  impl/scripts/cpplint.py
  scripts/cpplint.py
Labels: bug, ci

#1057 tyf/change contiguous
  impl/camb/common/contiguous.cpp
Labels: fix, camb

#1003 [Ascend]Wx/reimpl addcmul, addcdiv, adaptive avg pool2d op
  impl/ascend/convert_config.yaml
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/addcdiv.cpp
  impl/ascend_npu/diopi_impl/addcmul.cpp
  impl/ascend_npu/diopi_impl/addmm.cpp
  impl/ascend_npu/diopi_impl/pool.cpp
  impl/ascend_npu/diopi_impl/reduce.cpp
Labels: ascend

#1027 [Ascend] Wx/reimpl activation op using aclnn on ascend
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/activation.cpp
Labels: ascend

#1069 [Ascend]fix rotary embedding
  impl/ascend/device_configs.py
  impl/ascend_npu/diopi_impl/functions_ext/rotary_embedding.cpp
Labels: ascend

#996 div
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/binary.cpp
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
  impl/ascend_npu/torch_npu/csrc/framework/DIOPIAdapter.h
Labels: ascend

#993 perf(ascend): refactor aclnn adaptor & add copy & fix storage shape
  impl/CMakeLists.txt
  impl/ascend/aclnn/acl_tensor.hpp
  impl/ascend/aclnn/adaptor.cpp
  impl/ascend/aclnn/adaptor.hpp
  impl/ascend/ascend_tensor.cpp
  impl/ascend/ascend_tensor.hpp
  impl/ascend/common/acloprunner.hpp
  impl/ascend/common/utils.cpp
  impl/ascend/common/utils.hpp
  impl/ascend/functions/copy.cpp
  impl/ascend/functions/cos.cpp
  impl/ascend/functions/dropout.cpp
  impl/ascend/functions/normal.cpp
  impl/ascend/functions/reduce.cpp
  impl/ascend/functions/sin.cpp
  impl/ascend/functions/tril.cpp
  impl/ascend/functions/triu.cpp
  impl/ascend_npu/CMakeLists.txt
  impl/ascend_npu/ascend_config.yaml
Labels: ascend

#975 [Ascend] Wx/reimpl mul and pow
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/mul.cpp
  impl/ascend_npu/diopi_impl/pow.cpp
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
  impl/ascend_npu/torch_npu/csrc/framework/DIOPIAdapter.h
Labels: ascend

#1016 [Ascend] Wx/reimpl embedding op on ascend
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/embedding.cpp
Labels: ascend

#981 zq/reimpl log_softmax
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/logsoftmax.cpp
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
Labels: ascend

#1010 zq/reimpl softmax
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/softmax.cpp
Labels: ascend

#994 max use aclnn
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/maximum.cpp
Labels: ascend

#1064 impl interpolate use op_api
  impl/ascend/convert_config.yaml
  impl/ascend/device_configs.py
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/interpolate.cpp
Labels: ascend

#886 Wx/fix test cases for lightllm
  diopi_test/python/configs/diopi_configs.py
  impl/ascend/device_configs.py
Labels: diopi_test

#1055 Zq/reimpl clamp
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/clamp.cpp
  impl/ascend_npu/diopi_impl/helper.hpp
Labels: ascend

#1008 zsk/fix diopi_test bug
  diopi_test/python/codegen/case_template.py
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/check_result.py
  diopi_test/python/conformance/diopi_functions.py
  diopi_test/python/conformance/diopi_runtime.py
  diopi_test/python/conformance/gen_output.py
  diopi_test/python/tests/diopi_test/test_check_result.py
  impl/camb/device_configs.py
Labels: diopi_test

#1092 opt cat op
  impl/ascend_npu/diopi_impl/cat.cpp
Labels: ascend

#1086 [Ascend] Wx/impl flash attention on ascend
  diopi_test/diopi_stub/codegen/gen.py
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/diopi_functions.py
  diopi_test/python/conformance/gen_output.py
  impl/ascend/device_configs.py
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/functions_ext/flash_attention.cpp
  impl/ascend_npu/diopi_impl/helper.hpp
  proto/include/diopi/functions_ext.h
Labels: ascend, diopi_api

#1108 Improve bf16 support for Ascend
  impl/ascend/common/utils.cpp
Labels: ascend

#1105 [Ascend] Wx/modify original flash attention for ascend speed
  diopi_test/python/conformance/diopi_functions.py
  impl/ascend_npu/diopi_impl/functions_ext/flash_attention.cpp
  proto/include/diopi/functions_ext.h
Labels: ascend

#1110 [Ascend] Wx/impl flash attentionv2 for ascend speed
  diopi_test/python/conformance/diopi_functions.py
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/functions_ext/flash_attentionv2.cpp
  proto/include/diopi/functions_ext.h
Labels: ascend, diopi_api

#1032 [Ascend] Wx/reimpl threshold op using aclnn
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/threshold.cpp
Labels: ascend

#1091 tyf/add ROPE
  impl/camb/CMakeLists.txt
  impl/camb/cnnl_helper.hpp
  impl/camb/device_configs.py
  impl/camb/diopi_helper.hpp
  impl/camb/functions_ext/rotaryEmbedding.cpp
Labels: feature, camb

#1114 [Ascend] Wx/impl scaled masked softmax op on ascend
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/diopi_functions.py
  diopi_test/python/conformance/gen_output.py
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/functions_ext/scaled_masked_softmax.cpp
  proto/include/diopi/functions_ext.h
Labels: ascend, diopi_api

#1127 tyf/add seed and offset
  diopi_test/diopi_stub/csrc/litert.cpp
  diopi_test/diopi_stub/include/litert.hpp
  proto/include/diopi/diopirt.h
Labels: feature
