Repository DeepLink-org/DIOPI, pull requests merged in 2024-06, with the labels that each got.

#1255 [Ascend] fix diopiEqual for ascend+kunpeng
  impl/ascend_npu/diopi_impl/equal.cpp
Labels: ascend

#1254 Zcx/llama2 infer 910b
  .github/workflows/_runs-on-nv-step1.yml
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/customized_test.py
  diopi_test/python/conformance/diopi_functions.py
  diopi_test/python/conformance/global_op_list.py
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/functions_ext/apply_penalty.cpp
  impl/ascend_npu/diopi_impl/functions_ext/context_attention_inference.cpp
  impl/ascend_npu/diopi_impl/functions_ext/destindex_copy_kv.cpp
  impl/ascend_npu/diopi_impl/functions_ext/matmul_all_reduce.cpp
  impl/ascend_npu/diopi_impl/functions_ext/rotary_embedding.cpp
  impl/ascend_npu/diopi_impl/functions_ext/token_attention_inference.cpp
  proto/include/diopi/functions_ext.h
Labels: ascend

#1266 [ascend] Optimise diopiFlashAttentionVarLen
  impl/ascend_npu/diopi_impl/functions_ext/flash_attention_varlen.cpp
Labels: ascend

#1279 feat(torch): add new flash-attention functions to torch impl
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/diopi_functions.py
  impl/torch/functions/functions_ext.cpp
  impl/torch/functions/functions_ext/flash-attention/include/flash_attn/flash_api.h
  impl/torch/helper.cpp
  impl/torch/helper.hpp
Labels: nvidia

#1281 Fix Ascend CI failure (revert 2ee61ea, optimize baddbmm, skip paged_attention, fix diopiStd)
  impl/ascend/device_configs.py
  impl/ascend_npu/diopi_impl/baddbmm.cpp
  impl/ascend_npu/diopi_impl/bmm.cpp
  impl/ascend_npu/diopi_impl/cat.cpp
  impl/ascend_npu/diopi_impl/clamp.cpp
  impl/ascend_npu/diopi_impl/copy.cpp
  impl/ascend_npu/diopi_impl/dropout.cpp
  impl/ascend_npu/diopi_impl/functions_ext/context_attention_inference.cpp
  impl/ascend_npu/diopi_impl/functions_ext/rms_norm.cpp
  impl/ascend_npu/diopi_impl/functions_ext/rotary_embedding.cpp
  impl/ascend_npu/diopi_impl/group_norm.cpp
  impl/ascend_npu/diopi_impl/helper.hpp
  impl/ascend_npu/diopi_impl/index.cpp
  impl/ascend_npu/diopi_impl/index_put.cpp
  impl/ascend_npu/diopi_impl/index_select.cpp
  impl/ascend_npu/diopi_impl/masked_fill.cpp
  impl/ascend_npu/diopi_impl/mul.cpp
  impl/ascend_npu/diopi_impl/repeat.cpp
  impl/ascend_npu/diopi_impl/scatter.cpp
  impl/ascend_npu/diopi_impl/std.cpp
  impl/ascend_npu/diopi_impl/transpose.cpp
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
  impl/ascend_npu/torch_npu/csrc/framework/DIOPIAdapter.h
Labels: ascend

#1283 Enhance diopiSize export
  diopi_test/diopi_stub/csrc/export_runtime.cpp
  diopi_test/python/conformance/diopi_runtime.py
Labels: diopi_test
