Repository DeepLink-org/DIOPI, pull requests merged in 2024-07, with the labels that each got.

#1295 fix: move version detection from cmake into cpp header
  impl/ascend_npu/CMakeLists.txt
  impl/ascend_npu/diopi_impl/helper.hpp
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
Labels: fix, ascend

#1161 Fix bug: nll_loss_backward may not meet accuracy standards in certain…
  diopi_test/python/configs/diopi_configs.py
  impl/torch/helper.cpp
Labels: bug

#1296 [Ascend] Wx/modify customized flash attention for ascend
  diopi_test/python/configs/diopi_configs.py
  diopi_test/python/conformance/customized_test.py
  diopi_test/python/conformance/diopi_functions.py
  impl/ascend_npu/diopi_impl/functions_ext/flash_attention.cpp
  proto/include/diopi/functions_ext.h
Labels: ascend

#1298 tyf/changeFA
  impl/camb/functions_ext/flash_attention_varlen.cpp
Labels: camb
