Repository DeepLink-org/DIOPI, pull requests merged in 2024-02, with the labels that each got.

#900 zq/fix hardtanh
  impl/ascend/convert_config.yaml
  impl/ascend/functions/activation.cpp
Labels: ascend

#905 fix linear
  impl/ascend/convert_config.yaml
Labels: ascend

#909 tyf/change bmm
  impl/camb/convert_config.yaml
  impl/camb/functions/bmm.cpp
Labels: feature, camb

#878 Remove skips in device_configs.py for the embedding op
  impl/ascend/device_configs.py
Labels: ascend

#929 Zq/fix clamp
  impl/ascend/convert_config.yaml
  impl/ascend/functions/clamp.cpp
Labels: ascend

#938 [Ascend] Wx/fix calling the make_tensor_from_scalar interface
  impl/ascend/functions/addcdiv.cpp
  impl/ascend/functions/addcmul.cpp
  impl/ascend/functions/dropout.cpp
  impl/ascend/functions/logic.cpp
  impl/ascend/functions/masked_fill.cpp
  impl/ascend/functions/pow.cpp
Labels: ascend

#935 tyf/change addmm config
  impl/camb/common/common.hpp
  impl/camb/common/denseCheck.cpp
  impl/camb/functions/addmm.cpp
Labels: fix, camb

#949 tyf/change op
  impl/camb/common/basic_op.cpp
  impl/camb/common/common.hpp
  impl/camb/common/contiguous.cpp
Labels: feature, fix, camb

#956 Remove unnecessary sync
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
Labels: ascend

#951 [Ascend] Wx/fix add op on ascend
  impl/ascend/convert_config.yaml
  impl/ascend/functions/binary.cpp
Labels: ascend

#954 [Ascend]Wx/fix sub op on ascend
  impl/ascend/functions/binary.cpp
Labels: ascend

#946 [Ascend] Wx/fix mul op on ascend
  impl/ascend/functions/binary.cpp
Labels: ascend

#948 perf(cuda/ext): speed up mha by eliminating unnecessary tensor copy
  impl/torch/functions/functions_ext.cpp
Labels: nvidia

#961 [Ascend] fuj / impl bmm with op-plugin api for ascend
  impl/ascend_npu/CMakeLists.txt
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/bmm.cpp
  impl/ascend_npu/torch_npu/csrc/DIOPIAdapter.cpp
  impl/ascend_npu/torch_npu/csrc/framework/DIOPIAdapter.h
Labels: ascend

#986 [Ascend] Wx reimpl diopicast using aclnnCast
  impl/ascend_npu/diopi_impl/cast.cpp
  impl/ascend_npu/torch_npu/csrc/framework/DIOPIAdapter.h
Labels: ascend

#983 zq/reimpl norm
  impl/ascend_npu/diopi_impl/norm.cpp
Labels: ascend

#992 zq/reimpl argmax
  impl/ascend_npu/ascend_config.yaml
  impl/ascend_npu/diopi_impl/argmax.cpp
Labels: ascend

#990 Fix the add op for Ascend when input and other are different dtypes
  diopi_test/python/configs/diopi_configs.py
  impl/ascend/functions/binary.cpp
Labels: ascend
